:root {
    // primary colors
    --PRIMARY_LIME: #d7ff81;
    --PRIMARY_WHITE: #ffffff;
    --PRIMARY_LIGHTGRAY: #909090;
    --PRIMARY_BLACK: #0e0e0e;

    // background
    --BG_DARKGRAY: #1e1e1e;
    --BG_GRAY: #353535;

    // status
    --STATUS_RED: #FF5252;
}
