.Container {
    display: flex;
    flex-direction: column;
    color: var(--PRIMARY_LIGHTGRAY);
    width: 100%;
}

.NextMatch {
    background-image: url("./Assets/bg.png");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: calc(var(--fz-p) * 2);
    button {
        font-weight: 600;
        font-size: var(--fz-p);
        padding: 0.3em 4em;
        width: fit-content;
    }
    border-radius: var(--fz-h2);
    min-height: 400px;
    height: 100%;
}
